.board td{
  height: 200px;
  width: 200px;
  background-color: black;
  margin: 1px;
  border: 2px solid red;
  text-align: center;
  font-size: 100px;
  text-decoration-color: white;
}
.jumbotron{
  border: 2px solid black;
  width: 500px;
  height: 300px;
}
